<ion-content padding>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size=12>
        <h1 weight="bold">Interviews Desk</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-padding" size=12>
        <ion-list>
          <ion-item>
            <ion-label position="floating"> Email </ion-label>
            <ion-input
              ngModel
              name="email"
              type="email"
              required
              email
              #emailCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <p class="error" *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
            Email invalid
          </p>
          <ion-item>
            <ion-label position="floating"> Password </ion-label>
            <ion-input
              ngModel
              name="password"
              type="password"
              minlength="6"
              required
              #passCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <p class="error" *ngIf="!passCtrl.valid && passCtrl.touched" lines="none">
            Password Invalid
          </p>
          <ion-button type="submit" color="tertiary" fill="outline" expand="block" size="regular">Login</ion-button>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-item
      lines="none"
      routerDirection="forward"
      [routerLink]="['/','auth','signup']"
    >
      <ion-label>Default Item</ion-label>
    </ion-item>
    <ion-row class="ion-text-center">
      <ion-col>
        <h2>text-center</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item lines="none">
            <ion-label>Password Invalid</ion-label>
            <ion-icon name="close-circle" slot="end"></ion-icon>
          </ion-item>
          <ion-item lines="none">
            <ion-label>Password Invalid</ion-label>
            <ion-icon name="close-circle" slot="end"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>            <ion-label>Password Invalid</ion-label>
</ion-footer>
