<ion-content padding>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size=12>
        <h1 weight="bold" style="margin-bottom: 0;">Interviews Desk</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding ion-padding-horizontal" size=12 >
        <ion-list class="ion-no-padding">
          <ion-item>
            <ion-label position="floating"> Email <span class="danger">*</span> </ion-label>
            <ion-input
              ngModel
              name="email"
              type="email"
              required
              email
              #emailCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <p class="error ion-padding-start" *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
            Email invalid
          </p>
          <ion-item>
            <ion-label position="floating"> Password <span class="danger">*</span> </ion-label>
            <ion-input
              ngModel
              name="password"
              type="password"
              minlength="6"
              required
              #passCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <p class="error ion-padding-start" *ngIf="!passCtrl.valid && passCtrl.touched" lines="none">
            Password Invalid
          </p>
          <ion-row >
            <ion-col class="ion-padding-top ion-padding-horizontal">
              <ion-button type="submit" color="secundary" fill="outline" shape="round" expand="block" size="regular">Login</ion-button>
              <ion-item
                class="bold no-padding no-margin"
                lines="none"
                routerDirection="forward"
                [routerLink]="['/','auth','signup']"
              >
                <p class="ion-no-padding ion-no-margin" style="font-size: small;">forgot password?</p>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-chip class="ion-text-start">
            <ion-icon name="logo-google"></ion-icon>
          <ion-label >Login with Google</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-chip>
            <ion-icon name="logo-facebook"></ion-icon>
          <ion-label>Login with Facebook</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-end">
        <ion-chip>
            <ion-icon  name="logo-linkedin"></ion-icon>          
          <ion-label>Login with LinkedIn</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>            
  <ion-label>dont have an account? Register now!</ion-label>
</ion-footer>
