<ion-content padding>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col size="12">
        <h1 weight="bold" style="margin-bottom: 0;">Interviews Desk</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding ion-padding-horizontal" size="12">
        <ion-list class="ion-no-padding">
          <ion-item>
            <ion-label position="floating">
              Email <span class="danger">*</span>
            </ion-label>
            <ion-input
              ngModel
              name="email"
              type="email"
              required
              email
              #emailCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <p
            class="error ion-padding-start"
            *ngIf="!emailCtrl.valid && emailCtrl.touched"
            lines="none"
          >
            Email invalid
          </p>
          <ion-item>
            <ion-label position="floating">
              Password <span class="danger">*</span>
            </ion-label>
            <ion-input
              ngModel
              name="password"
              type="password"
              minlength="6"
              required
              #passCtrl="ngModel"
            ></ion-input>
          </ion-item>
          <p
            class="error ion-padding-start"
            *ngIf="!passCtrl.valid && passCtrl.touched"
            lines="none"
          >
            Password Invalid
          </p>
          <ion-row>
            <ion-col class="ion-padding-top ion-padding-horizontal">
              <ion-button
                type="submit"
                color="secundary"
                fill="outline"
                expand="block"
                size="regular"
                >Login</ion-button
              >
              <p
               
                class="ion-no-padding ion-no-margin semi-bold"
                style="font-size: small;"
              >
                forgot password?
              </p>
            </ion-col>
          </ion-row>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-vertical">
      <ion-col>
      <ion-row >
        <ion-col class="ion-text-center">
          <ion-label class="bold">Other Login Options</ion-label>
        </ion-col>
      </ion-row>
      <ion-row class="ion-padding-top">
        <ion-col size="12" size-sm="4" class="ion-text-center">
          <ion-chip color="tertiary">
            <ion-icon name="logo-google"></ion-icon>
            <ion-label>Google</ion-label>
          </ion-chip>
        </ion-col>
      
        <ion-col size="12" size-sm="4" class="ion-text-center">
          <ion-chip  color="tertiary">
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-label>Facebook</ion-label>
          </ion-chip>
        </ion-col>
      
        <ion-col size="12" size-sm="4" class="ion-text-center">
          <ion-chip color="tertiary">
            <ion-icon name="logo-linkedin"></ion-icon>
            <ion-label>LinkedIn</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <h6 class="ion-margin-horizontal">Dont have an account yet? <span  routerDirection="forward"
      [routerLink]="['/','auth','signup']" class="semi-bold" style="text-decoration: underline">Register now!</span></h6>
  </ion-toolbar>
</ion-footer>