<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
        <ion-button>
          <ion-icon slot="icon-only" name="desktop-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
     

      <ion-title>{{ 'home.app_personal_title' | translate}} 
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
 <ion-item lines="none">
        <ion-buttons slot="start" style="margin: 0">
         <ion-button color="primary" (click)="addJobApplication()">
            <ion-icon slot="icon-only" name="add" ></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-label >Add Job Application</ion-label>
    </ion-item>
<ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
  <!-- Items wrapped in a reorder, entire item can be dragged -->
  <ion-reorder *ngFor="let item of jobApplications; index as i;">
    <ion-item >
      <ion-label>
        <div> {{item.label}} - {{item.companyName}} </div>
        <div style="font-size:small"> {{item.interviewer}} - {{item.description}} </div>
      </ion-label>
    </ion-item>
  </ion-reorder>

</ion-reorder-group>
</ion-content>
