<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
        <ion-button>
          <ion-icon slot="icon-only" name="desktop-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
     

      <ion-title>{{ 'home.app_personal_title' | translate}} 
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
  <ion-item lines="none">
    <ion-label>
      ADD STUFF
    </ion-label>
  </ion-item>
<ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
  <!-- Items wrapped in a reorder, entire item can be dragged -->
  <ion-reorder>
    <ion-item>
      <ion-label>
        Item 7
      </ion-label>
    </ion-item>
  </ion-reorder>

  <ion-reorder>
    <ion-item>
      <ion-label>
        Item 8
      </ion-label>
    </ion-item>
  </ion-reorder>
</ion-reorder-group>
</ion-content>
