<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button auto-hide="false"></ion-menu-button>
        <ion-button>
          <ion-icon slot="icon-only" name="desktop-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
     

      <ion-title>{{ 'home.app_personal_title' | translate}} 
      </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
  <ion-grid>
<ion-row>
  <ion-col style="padding:0" size=12>
    <ion-item lines="none" class="action-button">
           <ion-buttons start   (click)="addJobApplication()">
            <ion-button    color="primary">
               <ion-icon slot="icon-only" name="add" ></ion-icon>
              </ion-button>
              <ion-label   color="primary" >Add Job Application</ion-label>
           </ion-buttons>
       </ion-item>

  </ion-col>
</ion-row>
<ion-row >
  <ion-col size=12 size-md=6 offset-md=3>
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
      <!-- Items wrapped in a reorder, entire item can be dragged -->
      <ion-reorder *ngFor="let item of jobApplications; index as i;">
        <ion-item >
          <ion-label>
            <div> {{item.label}} <span *ngIf="item.companyName">-</span> {{item.companyName}} </div>
            <div style="font-size:small"> {{item.interviewer}} <span *ngIf="item.interviewer && item.description">-</span> {{item.description}} </div>
          </ion-label>
          <ion-buttons class="body-buttons" slot="end">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                <ion-icon slot="icon-only"  name="clipboard-outline"></ion-icon>
          </ion-buttons>
        </ion-item>
      </ion-reorder>
    
    </ion-reorder-group>

  </ion-col>
</ion-row>
</ion-grid>
</ion-content>
